[dsn]
feature_dim = 64
max_GMS_iters = 10
num_seeds = 200
epsilon = 0.05
sigma = 0.02
subsample_factor = 5
min_pixels_thresh = 500
tau = 15.0
M_threshold = 0.3
angle_discretization = 100
discretization_threshold = 0.0

[rrn]
feature_dim = 64
img_H = 224
img_W = 224
use_coordconv = False

[uois3d]
padding_percentage = 0.25
use_open_close_morphology = True
open_close_morphology_ksize = 9
use_largest_connected_component = True
final_close_morphology = True

